RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule ^$ phob.php [L]

RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.+)$ phob.php?url=$1 [L]