body {
	background: #fff url("bg.png") repeat-x top;
	text-align: center;
}

img {
	border: 0;
}

a {
	color: #3e3e3e;
	font-family: Verdana, 'Geneva CE', lucida, sans-serif;
	font-size: 13px;
	outline: 0;
	text-decoration: none;
}

h1 {
	color: #3b6d9f;
	font-family: Verdana, 'Geneva CE', lucida, sans-serif;
	margin: 0;
	position: absolute;
	top: 8px;
}

#container {
	display: block;
	margin: 0 auto;
	width: 930px;
	text-align: center !important;
	text-align: left;
}

#main {
	display: block;
	position: absolute;
	top: 90px;
	text-align: center;
	width: 935px;
}

#dirNav {
	display: block;
	font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
	font-size: 15px;
	position: absolute;
	top: 52px;
}

#dirNav a {
	color: #535802;
	text-decoration: none;
}

#dirNav a:hover {
	text-decoration: underline;
}

a.item {
	background: #fff url('item_blue.png') no-repeat;
	display: block;
	float: left;
	height: 141px;
	margin: 5px;
	text-align: center;
	width: 177px;
}

a.photo img {
	margin-top: 10px;
	max-height: 120px;
	max-width: 160px;
	_height: 120px;
	_width: 160px;
}

a.photo span {
	display: none;
}

a.dir span {
	background: url('folder.png') center no-repeat;
	display: block;
	height: 120px;
	margin-top: 10px;
}

a.item:hover {
	background-image: url('item_green.png');
}

a.thumb {
	background-image: url('item_white.png');
	display: block;
	position: absolute;
	height: 141px;
	width: 177px;
	top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a.thumb img {
	margin-top: 10px;
	max-height: 120px;
	max-width: 160px;
	_height: 120px;
	_width: 160px;	
}

a img#main_img {
	border-bottom: 10px solid white;
	max-width: 650px;
	width: auto !important;
	width: 650px;
}

a:hover img#main_img {
	border-color: #def1fc;
}

div.set_label {
	float: right;
	margin-top: 15px;
}
div.set_label input#label {
	width: 350px;
}

div.img_label {
	background-color: #def1fc;
	border-bottom: 1px solid #3b6d9f;
	margin: 0 auto;
	margin-top: 5px;
	padding-left: 5px;
	text-align: left;
	width: 645px;
}