body {
	background: #e6f1ff url('bg.png') repeat-x;
	font-family: Calibri, sans-serif;
	padding: 0;
	margin: 0;
	text-align: center;
}

#page {
	margin: 20px auto;
	padding: 10px 20px;
	width: 900px;
	text-align: left;
}

h1 {
	margin: 0;
	padding: 0;
}

a {
	color: #3A3A3A;
	text-decoration: none;
}

a img {
	border: 5px solid #5A5A5A;
}

#navigation {
	margin: 10px 0 45px 0;
	padding: 0 0 10px 0;
	border-bottom: 2px solid #999;
}

#navigation a {
	color: #344150;
}

a.item {
	float: left;
	margin: 5px;
	width: 140px;
}

a.item.dir {
	background: url('folder.png') center top no-repeat;
	padding-top: 80px;
	text-align: center;
}

a.item.photo {
	text-align: center;
}

a.item.photo img {
	max-height: 120px;
	max-width: 130px;
}

a.item.photo:hover img{
	border-color: #3a3a3a;
}

a.item.photo span {
	visibility: hidden;
}

a.item.photo:hover span {
	visibility: visible;
}

table {
	width: 100%;
	text-align: center;
}

td.thumb {
	vertical-align: top;
	min-width: 120px;
}

td.thumb a span {
	display: block;
}

td.thumb.left {
	text-align: right;
	padding-right: 10px;
}

td.thumb.right {
	text-align: left;
	padding-left: 10px;
}

td.thumb a img {
	max-height: 80px;
}

td.photo img {
	max-width: 620px;
	max-height: 600px;
}