body {
	font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
	text-align: center;
	padding: 0;
	margin: 0;
}

div#bg {
	background: white url("bg.png") repeat-x;
	padding: 10px;
}

a img {
	border: 0;
}

a {
	color: #3e3e3e;
	outline: 0;
	text-decoration: none;
}

h1 {
	margin: 0 0 10px;
	font-size: 25px;
}

#container {
	display: block;
	margin: 0 auto;
	width: 935px;
	text-align: left;
}

#main {
	margin-top: 20px;
	text-align: center;
}

#header {
	font-size: 15px;
	height: 55px;
	padding-left: 10px;
}

#dirNav a {
	color: #535802;
	text-decoration: none;
}

#dirNav a:hover {
	text-decoration: underline;
}

a.item {
	background: #fff url('item.png') no-repeat;
	display: block;
	float: left;
	height: 141px;
	margin: 5px;
	text-align: center;
	width: 177px;
}

a.photo span {
	display: none;
}

a.dir span {
	background: url('folder.png') center no-repeat;
	display: block;
	height: 120px;
	margin-top: 10px;
}

a.item:hover {
	background-image: url('item_hover.png');
}

a.thumb {
	background-image: url('item_transparent.png');
	display: block;
	position: absolute;
	height: 141px;
	width: 177px;
	top: 145px;
	margin: 0 25px;
}

a.thumb img, a.photo img {
	margin-top: 10px;
	max-height: 120px;
	max-width: 160px;
	height: auto !important;
	width: auto !important;
	height: 120px;
	width: 160px;
}

a img#main_img {
	max-width: 650px;
	width: auto !important;
	width: 650px;
}

div.label {
	background-color: #def1fc;
	border-bottom: 1px solid #96b4bf;
	margin: 0 auto 20px;
	padding: 1px 5px;
	text-align: left;
	width: 650px;
}